/* Write your CSS code here */
.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-img {
  height: 10px;
  width: 10px;
}
.heading {
  color: #12022f;
  font-family: 'Roboto';
}
.paragraph {
  color: #616e7c;
  font-family: 'Roboto';
}
